@config "../../tailwind.back.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-poppins;
}

/* .draggable-source--is-dragging a{
  background-color: red;
} */
/* .draggable-mirror {
  background-color: blue;
  position: sticky!important;
} */